@mixin height_input_bt {
	height: 44px;
	line-height: 1.4;
}

body:not(.home) h1 {
	font-size: var(--thim_font_h2-font-size);
}

@media (max-width: 1024px) {
	h1 {
		font-size: var(--thim_font_h2-font-size);
	}

	h2 {
		font-size: var(--thim_font_h3-font-size);
	}

	h3 {
		font-size: var(--thim_font_h4-font-size);
	}
}

.sailing-11 {
	form.hb-select-extra-results .hb_button {
		padding: 10px 15px;
	}

	&.post-type-archive-hb_room {
		background-color: var(--thim_body_bg_color);
	}

	&.woocommerce-cart {
		.entry-content .woocommerce .woocommerce-cart-form {
			.shop_table {
				.product-remove .remove {
					font-weight: 300;
				}

				.actions {
					.coupon {
						.input-text {
							padding: 11px 25px;
							@include height_input_bt();
						}
					}

					.button {
						padding: 11px 25px !important;
						@include height_input_bt();
					}
				}
			}
		}

		.cart-collaterals {
			a.checkout-button {
				padding: 11px 50px;
				@include height_input_bt();
			}
		}
	}

	&.woocommerce-checkout {
		.checkout_coupon .form-row {
			.input-text {
				padding: 11px 25px;
				@include height_input_bt();
			}

			&.form-row-last {
				.button {
					padding: 11px 16px;
					@include height_input_bt();
				}
			}
		}

		.checkout .woocommerce-billing-fields .form-row select {
			padding: 10px 32px 10px 16px !important;
			background-position-x: 96% !important;
			background-position-y: 19px !important;
			background-size: 12px !important;
		}

		#payment #place_order {
			padding: 11px 25px;
			@include height_input_bt();
		}
	}

	.woocommerce form .form-row input.input-text,
	&.woocommerce-page form .form-row input.input-text {
		padding: 15px 25px;
		@include height_input_bt();
	}

	.woocommerce form .form-row textarea,
	&.woocommerce-page form .form-row textarea {
		padding: 15px 25px;
	}

	#wcbt-quick-view-popup .wcbt-quick-view-container .wcbt-quickview-content {
		.summary-content {
			form.cart .button {
				line-height: 1;
				text-transform: capitalize;
			}

			.cart {
				&.variations_form .variations tbody tr td.value select {
					padding: 5px 32px 5px 16px !important;
					background-position-x: 94% !important;
					background-position-y: 17px !important;
					background-size: 11px !important;
				}
			}
		}
	}

	.hb-select-extra-results .hb_addition_packages {
		border-radius: var(--thim_border_radius-item-big);
	}

	.wcbt-product-quick-view.active .loading-icon {
		background-color: #000 !important;
		background: #000 !important;
		color: #000 !important;
		width: 24px;
		height: 24px;
	}

	#wcbt-quick-view-popup .wcbt-quick-view-container .wcbt-quickview-content .product > .images .wcbt-quick-view-img {
		.slick-prev,
		.slick-next {
			display: block !important;
			opacity: 1;
			overflow: visible;

			&::before {
				font-family: thim-ekits !important;
				speak: never;
				font-style: normal;
				font-weight: 400;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				background: rgba(232, 237, 241, 1);
				width: 48px;
				height: 48px;
				display: inline-flex;
				border-radius: 200px;
				font-size: 24px;
				align-items: center;
				justify-content: center;
			}
		}

		.slick-prev {
			left: 24px;

			&::before {
				content: "\f104";
			}
		}

		.slick-next {
			right: 48px;

			&::before {
				content: "\f105";
			}
		}
	}

	.elementor-widget-wcbt-filterproduct {
		.filter-button-toggle-wp {
			position: relative;
		}

		span.wctb-count-filter {
			position: absolute;
			top: 0;
			right: 0;
			background: red;
			padding: 0 6px;
			border-radius: 200px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.4;
		}

		.show-filter-toggle .wrapper-search-fields {
			border-width: 1.5px;
		}

		.wrapper-search-fields .wrapper {
			padding: 24px 16px;
			border-bottom: 1.5px solid #e8edf1;
			width: 100%;
		}

		.wrapper-search-fields .wrapper:last-child {
			border-bottom: 0;
		}

		.noUi-horizontal {
			height: 4px;

			.noUi-handle {
				height: 15px;
				width: 15px;
				border-radius: 20px;
				top: -7px;
				cursor: pointer;
				border: 0;
				box-shadow: none;

				.noUi-handle.noUi-handle-lower {
					right: -23px;
				}
			}
		}

		.price .show-price {
			margin-bottom: 20px;
		}

		.noUi-handle:after,
		.noUi-handle:before {
			display: none;
		}

		.wcbt-product-filter-selection .list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.item input::after {
			color: #fff;
			top: 63% !important;
		}

		.rating input:checked::after {
			color: #fff;
			margin-top: 4px;
		}
	}

	.thim-ekits-archive-product {
		.woocommerce-ordering {
			margin-bottom: 30px;
		}

		.woocommerce-ordering h6 {
			color: var(--thim_font_body-color);
			font-weight: 600;
		}

		.woocommerce-ordering select {
			/*height: 48px;*/
			padding: 12px 16px 12px 19px;
			border-radius: 8px;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikljb24iPgo8cGF0aCBpZD0iVmVjdG9yIiBkPSJNNCA2LjVMOCAxMC41TDEyIDYuNSIgc3Ryb2tlPSIjNDQ0NDQ0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+Cjwvc3ZnPgo=) !important;
			background-repeat: no-repeat !important;
			background-position-x: 94% !important;
			background-position-y: 13px !important;
			background-size: 24px 22px !important;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			width: 226px;
			color: #121212;
		}

		.navigation {
			border-top: 0;
			margin-top: 64px;

			ul li .page-numbers {
				border-radius: 200px;
				padding: 14px 14px;
				width: 48px;
				height: 48px;
				line-height: 1.07;
				border: 1px solid transparent;

				&.current,
				&:hover {
					background: var(--thim_body_primary_color, #01aa90);
					color: #fff;
					border-color: var(--thim_body_primary_color, #01aa90);
				}

				&.next,
				&.prev {
					border-color: #aaafb6;

					i {
						line-height: 1;
					}
				}
			}
		}

		.navigation {
			margin-bottom: 0;
		}

		.page-numbers.prev:hover,
		.page-numbers.next:hover {
			background: #d9d9d9 !important;
			border-color: #d9d9d9 !important;
		}

		.woocommerce-result-count {
			position: absolute;
			right: 20%;
			top: 16px;
			margin-bottom: 0 !important;
		}

		.woocommerce-no-products-found {
			margin-top: 80px;
		}

		.loop-pagination {
			margin-top: 24px;
		}

		.pagination li .page-numbers {
			border-radius: 200px;
			padding: 14px 14px;
			width: 48px;
			height: 48px;
			line-height: 1.07;
			border: 1px solid transparent;
		}

		.pagination li .page-numbers.current,
		.pagination li .page-numbers:hover {
			background: var(--thim_body_primary_color, #01aa90);
			color: #fff;
			border-color: var(--thim_body_primary_color, #01aa90);
		}

		.pagination li .page-numbers.next,
		.pagination li .page-numbers.prev {
			border-color: #aaafb6;
			font-size: 0;
			position: relative;
		}

		.pagination li .page-numbers.next:before,
		.pagination li .page-numbers.prev:before {
			font-family: thim-ekits !important;
			font-weight: 400;
			line-height: 1;
			font-size: 16px;
		}

		.pagination li .page-numbers.next:before {
			content: "\f105";
		}

		.pagination li .page-numbers.prev:before {
			content: "\f104";
		}

		@media (max-width: 1025px) {
			.woocommerce-result-count {
				right: 32%;
			}
		}

		@media (max-width: 880px) {
			.woocommerce-result-count {
				right: 34%;
			}
		}

		@media (max-width: 768px) {
			.woocommerce-result-count {
				right: 34%;
			}
		}

		@media (max-width: 767px) {
			.woocommerce-ordering {
				float: left !important;
			}

			.woocommerce-result-count {
				display: none;
			}

			.show-filter-toggle .close-filter-product {
				display: block;
				margin: 20px;
			}
		}
	}

	.elementor-widget-thim-ekits-product-image {
		ul li a {
			box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
		}

		.ekits-product-thumbnails__wrapper {
			.product-image-thumbnail {
				opacity: 1;
			}

			.woocommerce-product-gallery__image img {
				width: 100%;
			}

			.flex-direction-nav a {
				margin-left: -30px;
				opacity: 0;
				transition: all 0.3s;
			}

			&:hover .flex-direction-nav a {
				margin-left: 0;
				margin-right: 0;
				opacity: 1;
			}
		}
	}

	.elementor-widget-thim-ekits-product-add-to-cart {
		.thim-ekit-single-product__add-to-cart form.cart {
			flex-wrap: wrap;
		}

		form.cart .variations,
		form.cart .variations th,
		form.cart .variations td {
			border: 0;
			width: 100%;
			display: block;
			text-align: left;
			padding: 0;
		}

		form.cart .variations tbody {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			gap: 24px;
		}

		form.cart .variations tbody tr {
			width: 50%;
		}

		form.cart table.variations td.value select {
			padding: 11px 44px 11px 16px;
			width: 100%;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikljb24iPgo8cGF0aCBpZD0iVmVjdG9yIiBkPSJNNCA2LjVMOCAxMC41TDEyIDYuNSIgc3Ryb2tlPSIjNDQ0NDQ0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+Cjwvc3ZnPgo=) !important;
			background-repeat: no-repeat !important;
			background-position-x: 95% !important;
			background-position-y: 15px !important;
			background-size: 18px 16px !important;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
		}

		.single_variation_wrap .woocommerce-variation-add-to-cart {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;
		}

		.single_variation_wrap {
			width: 100%;
		}

		.woocommerce-variation-add-to-cart .quantity,
		.cart .quantity {
			width: 119px;
		}

		.woocommerce-variation-add-to-cart .button,
		.cart .button {
			width: calc(100% - 143px);
		}

		.cart button {
			height: 44px;
			font-size: 16px !important;
		}

		.thim-ekit-single-product__add-to-cart form.cart:not(.variations_form) {
			gap: 24px;
		}

		.single_variation p {
			margin-bottom: 24px;
		}

		.quantity-add-value {
			height: 44px;
		}

		a.reset_variations {
			position: absolute;
			top: 0;
			right: 10px;
		}
	}

	.elementor-widget-thim-ekits-product-tabs {
		ul {
			margin: 0;
			list-style: none;
		}

		.shop_attributes th {
			border-width: 1px;
		}

		.woocommerce-product-attributes-item__value {
			padding: 0 8px;
		}

		.woocommerce-tabs ul.wc-tabs li {
			a {
				border-width: 1.5px 0 1.5px 1.5px !important;
			}
			&:last-child {
				a {
					border-width: 1.5px !important;
				}
			}
		}

		.woocommerce-tabs ul.wc-tabs li:first-child a {
			border-radius: 8px 0 0 8px;
			border-right: 0;
		}

		.woocommerce-tabs ul.wc-tabs li:last-child a {
			border-radius: 0 8px 8px 0;
			border-left: 0;
		}

		.panel {
			border: 0;
			box-shadow: unset;
		}

		.panel h2 {
			display: none;
		}

		#reviews #comments ol.commentlist li img.avatar {
			border-radius: 50%;
			border: 0;
		}

		#review_form #respond .form-submit input,
		.woocommerce-page #review_form #respond .form-submit input {
			border-radius: 200px;
			padding: 14px 40px 14px 40px;
			color: #fff;
			box-shadow: unset !important;
			letter-spacing: 0;
		}

		.star-rating {
			width: 100px;
			letter-spacing: 4px;
		}

		.star-rating:before,
		.star-rating span,
		.comment-respond .comment-form-rating p.stars a {
			color: #fc961b;
		}

		.woocommerce .star-rating span::before,
		.woocommerce-page .star-rating span::before {
			color: #fc961b;
		}

		.comment-respond .comment-form {
			max-width: 100%;
		}

		.comment-respond .comment-form-author,
		.comment-respond .comment-form-email {
			max-width: 50%;
			display: inline-block;
		}

		#review_form #respond p {
			margin: 0 0 16px;
		}

		.woocommerce-tabs #reviews #review_form_wrapper .comment-form .form-submit .submit {
			border: 0;
			border-radius: 200px;
			padding: 12px 35px;
			background-color: var(--thim_body_primary_color, #01aa90);
		}

		.woocommerce-tabs #reviews #review_form_wrapper .comment-form .form-submit .submit:hover {
			background-color: var(--thim_body_primary_second_color, #019982);
		}

		@media (max-width: 1024px) {
			.comment-notes span {
				display: block;
			}

			.comment-notes span .required {
				display: inline-block;
			}

			.comment-notes span.required-field-message {
				text-wrap: nowrap;
			}

			p.comment-form-cookies-consent {
				display: inline-flex;
				align-items: flex-start;
			}

			#wp-comment-cookies-consent {
				margin-top: 4px;
			}
		}

		@media (max-width: 1024px) {
			.thim-ekit-single-product__tabs.product-tabs-tabs ul.tabs.wc-tabs {
				flex-wrap: wrap;
			}

			.additional_information_tab {
				display: none;
			}
		}
	}

	#hotel-booking-search-filter .search-filter-form .hb-search-price .hb-price-range .noUi-base {
		width: calc(100% - 15px);
		margin-left: auto;
		margin-right: auto;
	}

	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 6L8 11L3 6' stroke='%23121212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: 96% 50%;
	}

	.loop-pagination,
	.hb-room-archive__pagination,
	.thim-ekit-archive-post__pagination {
		.page-numbers {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 44px;
			height: 44px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		.next,
		.prev {
			border: 2px solid #aaafb6 !important;

			&:hover {
				border-color: var(--thim_body_border_color) !important;
				background-color: var(--thim_body_border_color) !important;
				color: #aaafb6 !important;
			}
		}
	}

	.thim-ekits-button,
	.iconbox-read,
	.elementor-widget-thim-loop-item-read-more,
	.gallery-filter {
		a {
			transition: 0.3s;

			&:hover {
				transform: translateY(-5px);
			}
		}
	}

	// button,
	// .button,
	// .button-gallery,
	// .hb_button,
	// input[type="submit"],
	// .filter-button-toggle-wp,
	// .wcbt-product-quick-view,
	// .wcbt-product-wishlist,
	// .added_to_cart {
	// 	transition: 0.3s;

	// 	&:hover {
	// 		transform: translateY(-5px);
	// 	}
	// }

	.elementor-widget-thim-loop-item-featured-image {
		a,
		.elementor-widget-container {
			overflow: hidden;
			display: block;
			border-radius: 16px 16px 0 0;

			&:hover img {
				-webkit-transform: scale(1.07);
				-ms-transform: scale(1.07);
				transform: scale(1.07);
				color: #aaafb6 !important;
			}
		}
	}

	img {
		transition: 0.4s ease-in-out;
	}

	ul.products li.product a img {
		margin: 0;
	}

	.boxes-icon {
		overflow: hidden;

		&:hover img {
			-webkit-transform: scale(1.07);
			-ms-transform: scale(1.07);
			transform: scale(1.07);
		}
	}

	.list_image {
		a {
			overflow: hidden;
			border-radius: 16px;

			&:hover img {
				-webkit-transform: scale(1.07);
				-ms-transform: scale(1.07);
				transform: scale(1.07);
			}
		}
	}

	.hotel-booking-search-filter {
		.search-filter-form-el.hb-filter-popup {
			transform: translateY(20px);
			transition: 0.3s;
			opacity: 0;
			visibility: hidden;
			display: block;
			z-index: 0;
			height: 0;
		}

		&.filter-popup-show {
			.search-filter-form-el.hb-filter-popup {
				opacity: 1;
				visibility: visible;
				transform: none;
				z-index: 99;
				height: auto;
			}
		}
	}

	input[type="checkbox"]:checked::before {
		content: "\f00c";
		font-family: thim-ekits !important;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-size: 10px !important;
	}

	.hotel-booking-search-filter input[type="checkbox"] {
		position: relative;
		width: 18px;
		height: 18px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 18px;
			height: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover {
			background-color: var(--thim_body_primary_color, #ffb606);
		}

		&:checked {
			border: none;
		}

		&:checked::before {
			color: #fff;
			background-color: var(--thim_body_primary_color, #ffb606);
		}
	}

	.hb-select-extra-results .hb_extra_optional_right input,
	.hb_addition_package_extra input {
		position: relative;

		&:checked {
			border: none;
		}

		&:checked:before {
			content: "\f00c" !important;
			color: #fff;
			background-color: var(--thim_body_primary_color, #ffb606);
			margin: 0;
			font-family: FontAwesome;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			width: 18px;
			height: 18px;
			font-size: 13px;
			align-items: center;
			justify-content: center;
		}
	}

	.hb_addition_packages .hb_package_title label {
		font-weight: var(--thim_font_title-variant);
		color: var(--thim_font_title-color);
		font-size: var(--thim_font_h5-font-size);
	}

	.hb-room-single__booking__form #hotel_booking_room_hidden .hb-booking-room-form-footer {
		margin: 0;
		padding-top: 20px;
	}

	.hotel-booking-search-el {
		.fa {
			font-family: thim-ekits !important;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			font-size: 0.875em;

			&.fa-minus {
				&::before {
					content: "\f068";
				}
			}

			&.fa-plus {
				&::before {
					content: "\f067";
				}
			}
		}

		.hb-form-number select {
			font-weight: var(--thim_font_title-variant);
			color: var(--thim_font_title-color);
		}
	}

	input[type="number"],
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="date"] {
		&::placeholder {
			color: #aaafb6 !important;
		}
	}
	&.single-product .thim-ekit-single-product__rating {
		.star-rating {
			letter-spacing: 4px;
			width: 100px;
		}
		.woocommerce-review-link {
			margin-top: 5px;
		}
		@media (max-width: 1440px) {
			.woocommerce-review-link {
				margin-top: 3px;
			}
		}
	}
	.woocommerce-notices-wrapper .button {
		padding: 11px 50px;
		@include height_input_bt();
		border-radius: var(--thim_border_radius-button, 0);
		margin: 0;
		color: var(--thim_button_text_color);
		font-size: var(--thim_font_button-font-size) !important;
		font-weight: var(--thim_font_button-variant);
		line-height: var(--thim_font_button-line-height);
		text-transform: var(--thim_font_button-text-transform);
		transition: 0.3s;
		&:hover {
			transform: translateY(-5px);
			background: #019982 !important;
		}
	}
	.thim-ekits-mini-cart.mini-cart .widget_shopping_cart_content:after {
		content: none;
	}
	.thim-ekits-mini-cart.mini-cart:hover .widget_shopping_cart_content {
		margin-top: 26px;
	}
}

.wp-hotel-booking-cart,
.wp-hotel-booking-checkout {
	&.sailing-11 {
		#hotel-booking-cart .hb_button,
		#hotel-booking-payment button[type="submit"],
		.hotel_booking_mini_cart .hb_mini_cart_footer .hb_view_cart,
		#sidebar .thim-widget-mini-cart-room .hb_mini_cart_footer .hb_button {
			padding: 11px 16px;
		}

		#sidebar .thim-widget-mini-cart-room {
			border: none;
			background-color: var(--thim-bg-order-cart, #f2f4f4);
			border-radius: var(--thim_border_radius-item-big, 0);

			.line-heading {
				display: none;
			}

			.hb_mini_cart_price_packages {
				label {
					font-weight: var(--thim_font_title-variant);
				}

				li {
					padding-left: 0;
				}
			}

			.wrapper-line-heading {
				text-align: left;
			}

			.hb_title {
				font-size: var(--thim_font_body-font-size);
				font-weight: var(--thim_font_title-variant);
				margin-top: 12px;
				margin-right: 30px;

				a {
					color: var(--thim_font_title-color);
				}
			}

			.hb_mini_cart_price {
				display: flex;
				justify-content: space-between;
			}

			.hb_mini_cart_item {
				padding-bottom: 12px;
			}
		}

		#hotel-booking-payment .hb-col-border {
			border: none;
			padding: 0;

			h4 {
				margin-bottom: 20px;
			}

			input[type="number"],
			input[type="text"],
			input[type="email"],
			select,
			textarea {
				border: none;
				padding: 11px 16px;
				line-height: var(--thim_font_body-line-height);
				border-radius: var(--thim_border_radius-item, 0);
				background-color: var(--thim-bg-input, #f2f4f4);
			}
		}

		.hb_mini_cart_item .hb_mini_cart_remove:hover,
		#hotel-booking-cart .hb_remove_cart_item:hover {
			background-color: transparent;
			color: var(--thim_body_primary_color);
		}
	}
}

form.wpcf7-form .wpcf7-response-output {
	position: unset;
}

#hotel-booking-cart .hb_button.hb_checkout,
#hotel-booking-cart button[type="submit"],
#hotel-booking-cart button[type="button"],
#hotel-booking-payment .hb_button.hb_checkout,
#hotel-booking-payment button[type="submit"],
#hotel-booking-payment button[type="button"] {
	padding: 11px 16px;
	background: var(--thim_body_primary_color) !important;

	&:hover {
		background: rgba(var(--thim_body_primary_color_rgb), 80%) !important;
	}
}

#hotel-booking-payment #hb-order-new-customer {
	.hb-col-border {
		margin: 0 -15px;
	}

	.hb-form-field {
		max-width: none;
		margin: 15px;
	}

	h4 {
		margin: 15px;
	}
}

#hotel-booking-cart input[name="hb-coupon-code"],
#hotel-booking-payment input[name="hb-coupon-code"] {
	height: 44px;
}

@media (max-width: 767px) {
	.booking-notes {
		margin-bottom: 30px;
	}

	#booking-items table th,
	#booking-items table td {
		padding: 10px;
		font-size: 0.875em;
	}
}
